/* Dark Mode */
body.dark-mode {
    background-color: #1f2937;
    color: white;
}

.dark-mode #preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #111827;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode header {
    background-color: #111827; /* Temnejše ozadje za header */
    border-bottom: 1px solid #1f2937;
}

.dark-mode header button {
    background-color: #111827;
}

.dark-mode nav a {
    color: white; /* Bela barva za povezave v navigaciji */
}

.dark-mode .hero-vsebina h1,
.dark-mode #full_stack,
.dark-mode .hero-vsebina p,
.dark-mode #portfolio h2,
.dark-mode #izkusnje h2,
.dark-mode #vescine h2,
.dark-mode #blog h2,
.dark-mode #kontakt h2 {
    color: white; /* Bela barva za naslove */
}

.dark-mode #hero {
    background-color: #111827;
}

.dark-mode #CV_button {
    background-color: #1f2937;
    color: white;
    border-color: white;
}

.dark-mode #portfolio {
    background-color: #1f2937;
}

.dark-mode #izkusnje {
    background-color: #111827;
}

.dark-mode #vescine {
    background-color: #1f2937;
}

.dark-mode #blog {
    background-color: #111827;
}

.dark-mode #kontakt {
    background-color: #1f2937;
}

.dark-mode .projekt,
.dark-mode .vescina,
.dark-mode .clanek,
.dark-mode .kontakt-container {
    color: white; /* Bela barva besedila */
}

.dark-mode .projekt {
    background-color: #111827;
}

.dark-mode .projekt-text p {
    color: white;
}

.dark-mode .casovnica {
    background-color: #111827;
}

.dark-mode .casovnica-item {
    background-color: #1f2937;
}

.dark-mode .casovnica h3 {
    color: white;
}
.dark-mode .casovnica p {
    color: white;
}

.dark-mode .kategorija {
    background-color: #111827;
}

.dark-mode .kategorija h3 {
    color: white;
}

.dark-mode .vescina {
    background-color: #1f2937;
}

.dark-mode .vescina p {
    color: white;
}

.dark-mode .clanek {
    background-color: #1f2937;
}

.dark-mode .clanek p {
    color: white;
}

.dark-mode .kontakt-container {
    background-color: #111827;;
}

.dark-mode .kontakt-container label {
    color: white;
}

.dark-mode footer {
    background-color: #111827;
    color: white;
}

.dark-mode .footer-copyright {
    color: white;
}


/* Modal Dark Mode*/
.dark-mode .modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.dark-mode .modal-content {
    background-color: #111827;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    position: relative;
}

.dark-mode .modal-description {
    margin-bottom: 1rem;
    color: white;
}

.dark-mode .modal-features {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    color: white;
}

.dark-mode #kategorije-filtri {
    background-color: #1f2937;
    color: white;
}

.dark-mode #scroll-to-top {
    background-color: #1e40af;
    color: white;
}

.dark-mode #scroll-to-top:hover {
    background-color: #2563eb;
}