/* Glavni stil */
html {
    scroll-behavior: smooth;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.4;
    background-color: #f3f4f6;
}

/* Preloader stil */
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animacija pri ponovnem nalaganji strani */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: #2563eb;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Header stil */
header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.logo{
    color: #2563eb;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 4rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #374151;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #374151;
}

#theme-switcher {
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    padding-bottom: 2px;
}


/*Hero sekcija */
#hero {
    display: flex;
    align-items: center;
    padding: 1.5rem 4rem;
    background-color: white;
}

.hero-vsebina {
    max-width: 50%;
    color: #4b5563;
}

.hero-vsebina h1 {
    font-size: 1.8rem;
    color: #1f2937;
}

#full_stack {
    color: #4b5563;
    font-size: 1.1rem;
}

.hero-vsebina p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

#moji_projekti_button {
    background-color: #2563eb;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

#moji_projekti_button:hover {
    background-color: #1e40af;
    cursor: pointer;
}

#CV_button {
    background-color: white;
    color: #2563eb;
    border-radius: 6px;
    border-color: #2563eb;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

#CV_button:hover {
    background-color: #2563eb;
    color: white;
    cursor: pointer;
}

.print {
    background-color: #2563eb;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.print:hover {
    background-color: #1e40af;
    cursor: pointer;
}

.hero-slika {
    padding-left: 100px;
}

.hero-slika img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}


/* Portfolio sekcija */
#portfolio {
    background-color: #f3f4f6;
}

#portfolio h2 {
    text-align: center;
}

.projekti-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem 5rem;
}

.projekt {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.projekt img {
    width:100%;
    height:200px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.projekt-text {
    padding: 1rem;
    font-size: 0.8rem;
}

.projekt p {
    color: #4b5563;
}

.portfolio-tags span {
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    font-size: 0.6rem;
}

.react {
    background-color: #dbeafe;
    color: #2563eb;
}

.node {
    background-color: #dcfce7;
    color: #16a34a;
}

.mongoDB {
    background-color: #f3e8ff;
    color: #9b4aeb;
}

a.vec-info {
    display: block;
    background-color: #2563eb;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a.vec-info:hover {
    background-color: #1e40af;
}


/* Izkušnje sekcija */
#izkusnje {
    background-color: white;
    padding: 1.5rem 4rem;
}

#izkusnje h2 {
    text-align: center;
}

.casovnica {
    background-color: #f3f4f6;
    border-radius: 6px;
    padding: 1.5rem 4rem;
    max-width: 250px;
}

.podjetje {
    font-size: 1rem;
    color: #4b5563;
}

.period-time {
    font-size: 0.8rem;
    color: #6b7280;
}


/* Veščine sekcija */
#vescine {
    background-color: #f3f4f6;
    padding: 1.5rem 4rem;
}

/* Horizontalna postavitev kategorij */
.kategorije-container {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.kategorije {
    display: flex;
    gap: 2rem;
    width: max-content;
    padding: 1.5rem 4rem;
}

.kategorija {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    min-width: 300px;
    flex-shrink: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kategorija:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.kategorija h3 {
    color: #1f2937;
    margin-bottom: 1rem;
}

.vescina {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 250px;
    margin-bottom: 1rem;
}

#vescine h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.vescine-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.vescina-odstotek {
    display: flex;
    font-size: 1rem;
    color: #4b5563;
    margin-bottom: 0.5rem;
}

.odstotek {
    margin-left: auto;
}

.progress-bar {
    background-color: #ecf0f1;
    border-radius: 5px;
    overflow: hidden;
    height: 8px;

}

.progress {
    background-color: #2563eb;
    height: 100%;
    transition: width 0.5s ease;
}

/* Animacija progress bar */
.vescina-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.vescina-info p {
    margin: 0;
    color: #4b5563;
}

.leta-izkusenj {
    font-size: 0.8rem;
    color: #6b7280;
}

.odstotek-znanja {
    text-align: right;
    font-size: 0.8rem;
    color: #6b7280;
    margin-top: 0.25rem;
    margin-bottom: 0;
}

/* Animacija ob hoverju */
.vescina:hover .progress {
    background-color: #1e40af;
}


/* Blog sekcija */
#blog {
    background-color: white;
    text-align: center;
    padding: 1.5rem 4rem;
}

#blog h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.blog-filtri {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.blog-filtri input,
.blog-filtri select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

#blog input {
    width: 25%;
    padding: 0.5rem;
    margin-bottom: 1.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.clanki-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem 4rem;
}

.clanek {
    background-color: #f3f4f6;
    border-radius: 6px;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.clanek:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.clanek img {
    width:100%;
    height:200px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.blog-tags span {
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    font-size: 0.6rem;
}

.blog-tema {
    background-color: #dbeafe;
    color: #2563eb;

}

.clanek-text {
    padding: 1rem;
    font-size: 0.8rem;
    text-align: left;
}

.clanek p {
    color: #4b5563;
}

.blog-tema {
    background-color: #dbeafe;
    color: #2563eb;
}

.blog-tema-cas {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 0.5rem;
}

.blog-dol-branja {
    color: #6b7280;
    font-size: 0.7rem;
}

.clanek h3 {
    color: #1f2937;
    margin-bottom: 0.5rem;
}

.datum {
    color: #6b7280;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

.povzetek {
    color: #4b5563;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.blog-preberi-vec {
    color: #2563eb;
    text-decoration: none;
    font-size: 0.8rem;
}

.share-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.share-btn {
    background-color: #2563eb;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.share-btn:hover {
    background-color: #1d4ed8;
}


/* Kontakt sekcija */

#kontakt {
    background-color: #f3f4f6;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#kontakt h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.kontakt-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    max-width: 500px;
    font-size: 0.8rem;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

#kontakt-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#kontakt-form input,
#kontakt-form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}

#kontakt-form button {
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    padding: 0.4rem 1.5rem;
    transition: background-color 0.3s ease;
}

#kontakt-form button:hover {
    background-color: #1e40af;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #4b5563;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

/* Validacija */
.napaka {
    color: #dc2626;
    font-size: 0.8rem;
    display: none;
}

.napaka.prikaz {
    display: block;
}

button[type="submit"] {
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: #1e40af;
}

#uspesno-obvestilo {
    background-color: #dcfce7;
    color: #16a34a;
    padding: 1rem;
    border-radius: 6px;
    margin-top: 1rem;
    text-align: center;
    display: none;
}

#uspesno-obvestilo.prikaz {
    display: block;
}


/* Footer sekcija */
footer {
    background-color: white;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.footer-copyright {
    margin: 0;
    color: #4b5563;
    font-size: 0.7rem;
}

.footer-soc-omrezja {
    display: flex;
    gap: 0.1rem;
}

.footer-soc-omrezja a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #4b5563;
    font-size: 0.9rem;
}

.footer-soc-omrezja img {
    width: 15px;
    height: 15px;
    margin-right: 0.5rem;
}

/* Scroll To Top Gumb */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease;
}

#scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

#scroll-to-top:hover {
    background-color: #1e40af;
}


/* Standardni @media query za manjše zaslone (npr. ko okno zožimo na računalniku) */
@media (max-width: 1200px) {
    /* Prilagoditev headerja */
    header {
        padding: 1rem;
    }

    .logo {
        padding: 0 1rem;
    }

    nav ul {
        gap: 1rem;
    }

    /* Prilagoditev hero sekcije */
    #hero {
        padding: 2rem;
        flex-direction: column;
        text-align: center;
    }

    .hero-vsebina {
        max-width: 100%;
    }

    .hero-slika {
        padding-left: 0;
        margin-top: 2rem;
    }

    .hero-slika img {
        width: 300px;
        height: 300px;
    }

    /* Prilagoditev portfolio sekcije */
    #portfolio {
        padding: 1.5rem 2rem;
    }

    .projekti-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /* Prilagoditev izkušenj sekcije */
    #izkusnje {
        padding: 1.5rem 2rem;
    }

    .casovnica-container {
        overflow-x: auto;
    }

    .casovnica {
        flex-direction: column;
        gap: 1rem;
    }

    .casovnica-item {
        max-width: 100%;
    }

    /* Prilagoditev veščin sekcije */
    #vescine {
        padding: 1.5rem 2rem;
    }

    .kategorije {
        flex-direction: column;
    }

    .kategorija {
        min-width: 100%;
    }

    /* Prilagoditev blog sekcije */
    #blog {
        padding: 1.5rem 2rem;
    }

    .clanki-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /* Prilagoditev kontakt sekcije */
    #kontakt {
        padding: 1.5rem 2rem;
    }

    .kontakt-container {
        max-width: 100%;
    }

    /* Prilagoditev footerja */
    footer {
        padding: 1rem;
        flex-direction: column;
        text-align: center;
    }

    .footer-soc-omrezja {
        justify-content: center;
        margin-top: 1rem;
    }
}

/* Osnovni stilovi za mobilne naprave (mobile-first) */
header {
    padding: 0.5rem 1rem; /* Manjši padding za mobilne naprave */
    flex-direction: column; /* Navigacija v stolpcu */
    align-items: center;
}

#hero {
    padding: 1rem; /* Manjši padding za mobilne naprave */
    flex-direction: column; /* Hero vsebina v stolpcu */
    text-align: center;
}

.hero-slika {
    padding-left: 0; /* Odstranimo padding za mobilne naprave */
    margin-top: 1rem; /* Dodamo razmik med vsebino in sliko */
}

.hero-slika img {
    width: 200px; /* Manjša slika za mobilne naprave */
    height: 200px;
}

.projekti-grid {
    grid-template-columns: 1fr; /* En stolpec za mobilne naprave */
}

.casovnica {
    flex-direction: column; /* Časovnica v stolpcu za mobilne naprave */
    gap: 1rem;
}

.kategorije {
    flex-direction: column; /* Kategorije v stolpcu za mobilne naprave */
}

.clanki-grid {
    grid-template-columns: 1fr; /* En stolpec za članke na mobilnih napravah */
}

.kontakt-container {
    padding: 1rem; /* Manjši padding za mobilne naprave */
}

/* Stili za večje zaslone (uporabljajo vaše obstoječe @media query) */
@media (min-width: 768px) {
    header {
        padding: 1rem 2rem; /* Večji padding za večje zaslone */
        flex-direction: row; /* Navigacija v vrstici */
        justify-content: space-between;
    }

    #hero {
        padding: 2rem 6rem; /* Večji padding za večje zaslone */
        flex-direction: row; /* Hero vsebina v vrstici */
        text-align: left;
    }

    .hero-slika {
        padding-left: 100px; /* Dodamo padding za večje zaslone */
        margin-top: 0; /* Odstranimo razmik med vsebino in sliko */
    }

    .hero-slika img {
        width: 400px; /* Večja slika za večje zaslone */
        height: 400px;
    }

    .projekti-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Več stolpcev za večje zaslone */
    }

    .casovnica {
        flex-direction: row; /* Časovnica v vrstici za večje zaslone */
        gap: 2rem;
    }

    .kategorije {
        flex-direction: row; /* Kategorije v vrstici za večje zaslone */
    }

    .clanki-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Več stolpcev za članke na večjih zaslonih */
    }

    .kontakt-container {
        padding: 1.5rem; /* Večji padding za večje zaslone */
    }
}

/* @media query za večje zaslone */
@media (max-width: 1200px) {
    header {
        padding: 1rem;
    }

    .logo {
        padding: 0 1rem;
    }

    nav ul {
        gap: 1rem;
    }

    #hero {
        padding: 2rem;
    }

    .hero-slika img {
        width: 300px;
        height: 300px;
    }

    #portfolio {
        padding: 1.5rem 2rem;
    }

    .projekti-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #izkusnje {
        padding: 1.5rem 2rem;
    }

    .casovnica-container {
        overflow-x: auto;
    }

    #vescine {
        padding: 1.5rem 2rem;
    }

    #blog {
        padding: 1.5rem 2rem;
    }

    .clanki-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #kontakt {
        padding: 1.5rem 2rem;
    }

    footer {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    #hero {
        padding: 1rem;
    }

    .hero-slika img {
        width: 200px;
        height: 200px;
    }

    #portfolio {
        padding: 1rem;
    }

    .projekti-grid {
        grid-template-columns: 1fr;

    }

    #izkusnje {
        padding: 1rem;

    }

    .casovnica {
        padding: 0.5rem;
    }

    #vescine {
        padding: 1rem;
    }

    #blog {
        padding: 1rem;
    }

    .clanki-grid {
        grid-template-columns: 1fr;
    }

    #kontakt {
        padding: 1rem;
    }
}





