/* Skrije nepotrebne elemente pri tiskanju */
header, footer, nav, .no-print, #blog, #kontakt {
    display: none;
}

@media print {
    #izkusnje {
        display: block !important;
    }

    section {
        page-break-inside: avoid;  /* Prepreči delitev sekcije */
        max-height: 100vh;          /* Omeji višino na višino ene strani */
        font-size: 90%;             /* Malce zmanjša pisavo */
        transform-origin: top left;
    }
}


